@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pinky: #e76df7;
  --darkpinky: #cc1acc;
  --yellowy: #f7f77d;
  --darkyellowy: #e4e96f;
  --blacky: #292929;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #240524;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
