.cart-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden outside the screen */
    width: 30%;
    height: 100vh;
    background-color: var(--yellowy);
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    color: black;
    transition: right 0.55s ease; 
    z-index: 1000;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    overflow-y: auto; /* Vertical Scroll */
    scrollbar-width: thin;
}


.cart-menu.open {
    right: 0; /* Show menu */
}


.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.close-btn {
    color: black;
    margin-bottom: 20%;
}


h1 {
    text-align: left;
    margin-bottom: 1.5rem;
}


.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}


.cart-items {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    margin: 1rem auto;
    width: 100%;

}


.item-container {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}   


.burger-item-pic {
    width: 5rem;
    height: 5rem;
    border-radius: 2%;
}


.cart-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    justify-content: left;
    text-align: left;
}


.item-price {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}


.item-operations {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    user-select: none;
}


.plus-minus {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}


.plus-minus-container {
    width: 4rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}


.plus-minus-btn {
    background-color: var(--lightgreyish);
    width: 30%;
    height: 100%;
    padding: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


.left {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}


.right {
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}


.plus-minus-num {
    background-color: var(--whitey);
    height: 100%; 
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.delete-btn-container {
    background-color: var(--redy);
    color: white;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    cursor: pointer;

}


.delete-btn {
    width: 70%;
    height: 70%;
}


.cart-btn {
    width: 100%;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    
    margin-top: 1rem;
    user-select: none;
    cursor: pointer;
    color: white;

    padding: 0.5rem;
}


.cart-btn {
    background-color: var(--greeny);
}


.cart-btn:hover {
    background-color: var(--lightgreeny);
}


.cart-btn:active {
    background-color: var(--greeny);
    transform: scale(0.95); 
}


.empty-cart {
    background-color: var(--greyish);
}


.empty-cart:hover {
    background-color: var(--darkgreyish);
}


.empty-cart:active {
    background-color: var(--greyish); 
    transform: scale(0.95); 
}


.price-section {
    font-size: 110%;
    text-align: right;
}


@media (max-width: 600px) {
    .cart-menu {
      width: 100%;
      padding: 2rem;
      }

}