form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}


.checkout-form-container {
    width: 100%;
}


.form-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}


h2 {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.25rem;
    color:  var(--darkpinky); 
    text-shadow: 
    -1px -1px 0px white,  
        1px -1px 0px white,
    -1px  1px 0px white,
        1px  1px 0px white;   
}


h3 {
    background-color: var(--pinky);
    border-radius: 2%;
    padding: 0.3rem;
    padding-left: 1rem;
}


label {
    margin: 1rem ;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  width: 100%; 
  padding: 5px 0; 
  font-size: 16px;
  color: white; 
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-bottom: 1px solid white; 
}


.error {
    color: var(--redy);
    font-size: 0.75em;
    margin-top: 3px;
}
  

.long-message {
    font-size: 20%;

}


.submit-btn {
    height: 2rem;
    font-family: 'Lexend', Helvetica, sans-serif;
}