.contenedor-producto {
    max-width: 20rem;
    max-height: 28rem;
    background-color: var(--pinky);
    border-radius: 1%;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}


.contenedor-producto:hover {
    .imagen-producto {
        object-fit:inherit;
        transform: scale(1.2);
    }
    background-color: var(--darkpinky);

    .btn-add-store {
        visibility: visible;
        opacity: 1;
    }
    pointer-events: auto;
    
}


.contenedor-producto .btn-add-store:hover {
    pointer-events: all; /* Prioriza el botón sobre otros elementos */
}


.contenedor-texto {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    row-gap: 0.7rem;
}


.contenedor-imagen {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    transition: transform 0.3s ease; /* Agrega una animación suave */
}


.contenedor-producto:hover .imagen-producto {
    transform: scale(1.1); /* Amplía la imagen ligeramente al pasar el cursor */
}


.imagen-producto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.mug-name{
    font-size: 120%;
    color:  var(--darkpinky); 
    text-shadow: 
    -1px -1px 0px white,  
     1px -1px 0px white,
    -1px  1px 0px white,
     1px  1px 0px white;
}


.precio-producto {
    color:  #f7f77d ;
    font-size: 120%;
    font-weight: 100;
}

.descripcion-producto {
    font-size: 90%;
}


.btn-add-store {
    background-color: var(--yellowy);
    color: var(--darkpinky);
    padding: 0.6rem 0.3rem;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    user-select: none;
    width: 30%;
    height: auto;

    position: absolute;
    top: 0%; /* Cambiado a top para un posicionamiento más estable */
    left: 70%;
    opacity: 0;
    visibility: hidden;
    z-index: 10; /* Asegura que el botón esté encima del resto */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.contenedor-producto:hover .btn-add-store {
    visibility: visible;
    opacity: 1;
}


.btn-add-store:hover{
    background-color: var(--darkyellowy);
    color: var(--darkpinky);

}


.btn-add-store:active {
    background-color: var(--pinky);
    color: var(--yellowy);
    .icon-cart {
        color: var(--yellowy);
    }
}


.icon-cart {
    color: var(--darkpinky);
}


@media (max-width: 350px) {
    .btn-add-store {
        font-size: 80%;
    }
}
